*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --input: hsl(0, 0%, 52%);
  --background: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --text: hsl(200, 15%, 8%);
  --black: #000;
  --shadow: #bebebe;
}
.darker {
  --input: hsl(0, 0%, 52%);
  --background: hsl(207, 26%, 17%);
  --white: #25333f;
  --text: #fff;
  --black: #000;
  --shadow: #1b252f;
}
body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}
header {
  width: 100%;
}
nav {
  background-color: var(--dark-blue);
  padding: 10px 60px;
  box-shadow: 0 0 5px var(--shadow);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
}
.dark-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
}
.dark-mode > img {
  width: 15px;
  margin-right: 10px;
}

.nbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.searchbox {
  display: flex;
  background-color: var(--dark-blue);
  height: 40px;
  padding: 5px;
  box-shadow: 0 0 5px var(--shadow);
}
.searchbox img {
  object-fit: contain;
  width: 15px;
  margin-left: 5px;
}

.searchbox input {
  background-color: var(--dark-blue);
  outline: 0;
  border: 0;
  text-align: center;
  color: var(--input);
}
.searchbox input::placeholder {
  text-align: center;
  color: var(--input);
}

select {
  background-color: var(--dark-blue);
  color: var(--input);
  border: 0;
  outline: 0;
  padding: 5px;
  height: 40px;
  box-shadow: 0 0 5px var(--shadow);
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding: 20px 60px;
  justify-content: space-between;
}
.country-name {
  height: 350px;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
  background-color: var(--dark-blue);
  transition: all 0.4s;
  margin: 0 auto;
  box-shadow: 20px 20px 60px var(--shadow), -20px -20px 60px var(--white);
}
.flag {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.detail {
  padding: 30px;
}
h2 {
  /* font-size: 1px; */
  font-weight: 600;
  margin: 15px auto;
  font-weight: 800;
}
.detail li {
  font-weight: 600;
  list-style-type: none;
}
li > span {
  font-weight: 200;
}

.country-name:hover {
  transform: scale(1.05);
}

.country-name {
  cursor: pointer;
}

/* dark mode */
.on {
  animation-name: example;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.dark-icon {
  content: url("./design/sunny-outline.svg");
}
